.content {
    width: 490px;
    padding: 10px 0;
   box-shadow: 0 0 10px lightgrey; 
   font-family: 'Playfair Display', serif;
}
.text {
    width: 440px;
    color: grey;
    margin: 30px 25px;
    text-align: justify;
    
}
.signature{
color: lightgrey;
margin: 0 25px;
}
.header {
color: grey;
margin: 30px 25px;

font-size: 30px;
}
.photo {
    width: 440px;
    display: block;
    margin: 30px auto;


}