*{
    margin: 0;
    padding: 0;
}
.content {
    font-family: 'Playfair Display', serif;
    max-width: 900px;
    margin: 0, auto;
    font-family: Playfair Display;
}
.navigation {
    text-align: center;
}
.menu__item {
    display: inline-block;
}
.menu__link {
    padding: 10px, 40px;
    text-decoration: none;
    background-color: royalblue;
    color: black;
}
.menu__link:hover {
background-color: darkblue;
color: white;
}